header {
  width: 100%;
  height: 715px;
  position: absolute;
  z-index: 100;
}

header #head {
  width: 1200px;
  height: 78px;
  margin: auto;
}

header #head #nav_left {
  width: 380px;
  height: 27px;
}

header #head #nav_left .a1,
header #head #nav_left .a2,
header #head #nav_left .a3 {
  display: inline-block;
  height: 78px;
  line-height: 78px;
  color: #fff;
  margin-left: 10px;
}

header #head #nav_left .a1 img,
header #head #nav_left .a2 img,
header #head #nav_left .a3 img {
  width: 120px;
  height: 78px;
}

header #head #nav_left a:visited {
  border-bottom: 1px solid #883915;
}

header #head #nav_right {
  float: right;
}

header #head #nav_right #login {
  border: 1px solid #fff;
  float: left;
  width: 50px;
  height: 27px;
  text-align: center;
  color: #fff;
  line-height: 27px;
}

header #head #nav_right #zhuce {
  float: right;
  margin-left: 10px;
  width: 50px;
  height: 27px;
  background: #c07131;
  text-align: center;
  color: #fff;
  line-height: 27px;
}

header #center {
  width: 1200px;
  height: 92px;
  margin: auto;
  color: #fff;
  margin-top: 10px;
}

header #center p {
  width: 112px;
  padding-top: 20px;
}

header #center #p1 {
  border-bottom: 1px solid #fff;
  padding-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

header #center .span1 {
  font-size: 25px;
  font-weight: 600;
  margin-left: 10px;
}

header #center .span2 {
  font-size: 25px;
}

header #bottom {
  width: 1200px;
  height: 30px;
  margin: auto;
  margin-top: 70px;
}

header #bottom a {
  display: block;
  color: #fff;
  float: left;
  margin-left: 10px;
  width: 77px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

header #bottom #a1 {
  background: #c07131;
}

header #bottom #a2 {
  border: 1px solid #fff;
  margin-left: 15px;
}

#banner {
  width: 100%;
  height: 515px;
}

#banner .banner {
  width: 100%;
  height: 515px;
  overflow-x: hidden;
}

#banner .banner .swiper-container1 {
  width: 100%;
  height: 515px;
  margin: auto;
}

#banner .banner .swiper-container1 img {
  width: 100%;
  height: 515px;
}

#fwpt {
  width: 100%;
  height: 330px;
  background: #fff;
}

#fwpt .fwpt {
  width: 1200px;
  height: 330px;
  margin: auto;
}

#fwpt .fwpt #p1 {
  width: 445px;
  height: 86px;
  margin: auto;
  line-height: 86px;
  font-size: 24px;
  color: #3d3737;
  text-align: center;
}

#fwpt .fwpt #bottom {
  display: flex;
}

#fwpt .fwpt #bottom figure {
  flex: 1;
  width: 170px;
  height: 180px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

#fwpt .fwpt #bottom figure img {
  width: 100px;
  height: 100px;
}

#fwpt .fwpt #bottom figure figcaption h1 {
  height: 58px;
  line-height: 58px;
  color: #575050;
  font-size: 24px;
}

#fwpt .fwpt #bottom figure figcaption p {
  font-size: 12px;
  color: #ccc;
  text-align: center;
}

#ls {
  width: 100%;
  height: 156px;
  background: #f7f7f7;
}

#ls .ls {
  width: 1200px;
  height: 156px;
  margin: auto;
  line-height: 156px;
  color: #3d3737;
  font-size: 24px;
  text-align: center;
}

#zx {
  width: 100%;
  height: 320px;
  background: #f7f7f7;
}

#zx .zx {
  width: 1200px;
  height: 320px;
  background: #fff;
  margin: auto;
}

#zx .zx .top {
  display: flex;
  background: #fff;
}

#zx .zx .top figure {
  flex: 1;
  height: 160px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#zx .zx .top figure img {
  width: 70px;
  height: 70px;
}

#zx .zx .top figure figcaption {
  font-size: 16px;
  color: #969696;
  margin-top: 20px;
}

#zx .zx .bottom {
  display: flex;
  background: #fff;
}

#zx .zx .bottom figure {
  flex: 1;
  width: 160px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#zx .zx .bottom figure img {
  width: 70px;
  height: 70px;
}

#zx .zx .bottom figure figcaption {
  font-size: 16px;
  color: #969696;
  margin-top: 20px;
}

#fenlei {
  width: 100%;
  height: 192px;
  background: #f7f7f7;
}

#fenlei .fenlei {
  width: 1200px;
  height: 192px;
  margin: auto;
}

#fenlei .fenlei p {
  font-size: 18px;
  color: #969696;
  text-align: center;
  height: 79px;
  padding-top: 45px;
  margin-bottom: 10px;
}

#fenlei .fenlei span {
  display: block;
  width: 310px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  margin: auto;
}

#fenlei .fenlei span a {
  display: block;
  border: 1px solid black;
  float: left;
  width: 144px;
  height: 38px;
  color: #000;
}

#fenlei .fenlei span .a2 {
  float: right;
}

#fenlei .fenlei span a:hover {
  background: #000;
  color: #fff;
}

#sjzx {
  width: 100%;
  height: 536px;
  background: #f7f7f7;
}

#sjzx .sjzx {
  width: 1200px;
  height: 536px;
  margin: auto;
}

#sjzx .sjzx #top {
  font-size: 28px;
  color: #352f2f;
  text-align: center;
  margin-bottom: 84px;
}

#sjzx .sjzx #center {
  display: flex;
  justify-content: space-between;
}

#sjzx .sjzx #center figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
  height: 335px;
  background: #fff;
}

#sjzx .sjzx #center figure figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sjzx .sjzx #center figure figcaption h1 {
  font-size: 20px;
  color: #c5c553;
  margin-bottom: 20px;
}

#sjzx .sjzx #center figure figcaption p {
  color: #a09a9a;
  margin-bottom: 20px;
}

#sjzx .sjzx #center figure figcaption .divider {
  width: 45px;
  text-align: center;
  border-top: 1px solid #c5c553;
  margin-bottom: 20px;
}

#sjzx .sjzx #center figure figcaption .cate {
  color: #a09a9a;
  margin-bottom: 20px;
}

#sjzx .sjzx #bottom {
  width: 1200px;
  height: 80px;
  line-height: 80px;
  text-align: center;
}

#sjzx .sjzx #bottom p {
  font-size: 20px;
}

#sjzx .sjzx #bottom p span {
  color: #a09a9a;
}

#shejishi {
  width: 100%;
  height: 1020px;
  background: #fff;
}

#shejishi .shejishi {
  width: 1200px;
  height: 1020px;
  margin: auto;
}

#shejishi .shejishi #top {
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#shejishi .shejishi #top h1 {
  font-size: 24px;
  color: #909090;
  margin-top: 72px;
  margin-bottom: 33px;
  height: 30px;
}

#shejishi .shejishi #top .divider {
  width: 105px;
  border-bottom: 1px solid goldenrod;
}

#shejishi .shejishi #content {
  position: relative;
}

#shejishi .shejishi #content .left {
  position: relative;
}

#shejishi .shejishi #content .left .f1,
#shejishi .shejishi #content .left .f3 {
  width: 577px;
  height: 323px;
  background-color: #f3f3f3;
}

#shejishi .shejishi #content .left .f1 img,
#shejishi .shejishi #content .left .f3 img {
  height: 323px;
  width: 285px;
}

#shejishi .shejishi #content .left .f1 figcaption,
#shejishi .shejishi #content .left .f3 figcaption {
  float: right;
  text-align: right;
}

#shejishi .shejishi #content .left .f1 figcaption h1,
#shejishi .shejishi #content .left .f3 figcaption h1 {
  color: #c5c553;
  margin-top: 26px;
}

#shejishi .shejishi #content .left .f1 figcaption #p1,
#shejishi .shejishi #content .left .f3 figcaption #p1 {
  font-size: 28px;
  margin-top: 16px;
}

#shejishi .shejishi #content .left .f1 figcaption .divider,
#shejishi .shejishi #content .left .f3 figcaption .divider {
  width: 85px;
  border: 1px solid black;
  margin-left: 191px;
  margin-top: 18px;
}

#shejishi .shejishi #content .left .f1 figcaption #p2,
#shejishi .shejishi #content .left .f3 figcaption #p2 {
  color: #a09a9a;
  font-size: 14px;
  text-align: right;
  margin-top: 40px;
}

#shejishi .shejishi #content .left .f1 #p3,
#shejishi .shejishi #content .left .f3 #p3 {
  color: #a09a9a;
  font-size: 14px;
  text-align: right;
  margin-top: 40px;
}

#shejishi .shejishi #content .left .f3 {
  position: absolute;
  top: 483px;
  left: 0px;
}

#shejishi .shejishi #content #f2 {
  position: absolute;
  top: 200px;
  right: 0px;
  float: right;
  width: 577px;
  height: 323px;
  background-color: #f3f3f3;
}

#shejishi .shejishi #content #f2 img {
  height: 323px;
  width: 285px;
  float: right;
}

#shejishi .shejishi #content #f2 figcaption {
  float: left;
  text-align: left;
}

#shejishi .shejishi #content #f2 figcaption h1 {
  color: #c5c553;
  margin-top: 26px;
}

#shejishi .shejishi #content #f2 figcaption #p1 {
  font-size: 28px;
  margin-top: 16px;
}

#shejishi .shejishi #content #f2 figcaption .divider {
  width: 85px;
  border: 1px solid black;
  margin-top: 18px;
}

#shejishi .shejishi #content #f2 figcaption #p3 {
  color: #a09a9a;
  font-size: 14px;
  text-align: left;
  margin-top: 40px;
}

#shili {
  width: 100%;
  height: 768px;
  background: #f7f7f7;
}

#shili .shili {
  width: 1200px;
  height: 768px;
  margin: auto;
}

#shili .shili #top {
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#shili .shili #top h1 {
  font-size: 24px;
  color: #909090;
  margin-top: 72px;
  margin-bottom: 33px;
  height: 30px;
}

#shili .shili #top .divider {
  width: 105px;
  border-bottom: 3px solid goldenrod;
}

#shili .shili #center {
  width: 1200px;
  height: 600px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

#shili .shili #center .swiper-container {
  width: 1200px;
  height: 600px;
}

#shili .shili #center .swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

#shili .shili #center .swiper-container .swiper-slide figure img {
  width: 378px;
  height: 403px;
}

#shili .shili #center .swiper-container .swiper-slide figure figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}

#shili .shili #center .swiper-container .swiper-slide figure figcaption h1 {
  margin-top: 20px;
  font-size: 20px;
  color: black;
  margin-bottom: 10px;
}

#shili .shili #center .swiper-container .swiper-slide figure figcaption p {
  color: #a09a9a;
  margin-bottom: 10px;
}

#shili .shili #center .swiper-container .swiper-slide figure figcaption .divider {
  width: 45px;
  text-align: center;
  border-top: 1px solid #c5c553;
  margin-bottom: 10px;
}

#shili .shili #center .swiper-container .swiper-slide figure figcaption .cate {
  color: #c5c553;
  margin-bottom: 10px;
}

#shejishi2 {
  width: 100%;
  height: 410px;
  background: #fff;
}

#shejishi2 .shejishi2 {
  width: 1200px;
  height: 410px;
  margin: auto;
}

#shejishi2 .shejishi2 #top {
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#shejishi2 .shejishi2 #top h1 {
  font-size: 24px;
  color: #909090;
  margin-top: 72px;
  margin-bottom: 33px;
  height: 30px;
}

#shejishi2 .shejishi2 #top .divider {
  width: 105px;
  border-bottom: 1px solid goldenrod;
}

#shejishi2 .shejishi2 #center {
  width: 100%;
  height: 140px;
  background: #b1aaaa;
}

#shejishi2 .shejishi2 #center .top,
#shejishi2 .shejishi2 #center .bottom {
  display: flex;
}

#shejishi2 .shejishi2 #center .top span,
#shejishi2 .shejishi2 #center .bottom span {
  display: block;
  flex: 1;
  width: 200px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  border-right: 3px solid #fff;
  color: black;
  background: #f8f8f8;
}

#shejishi2 .shejishi2 #center .top span {
  display: block;
  border-bottom: 3px solid #fff;
}

#meisi {
  width: 100%;
  height: 418px;
  background: #f7f7f7;
}

#meisi .meisi {
  width: 1200px;
  height: 418px;
  margin: auto;
}

#meisi .meisi #top {
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#meisi .meisi #top h1 {
  font-size: 24px;
  color: #909090;
  margin-top: 72px;
  margin-bottom: 33px;
  height: 30px;
}

#meisi .meisi #top .divider {
  width: 105px;
  border-bottom: 1px solid goldenrod;
}

#meisi .meisi #bottom .top,
#meisi .meisi #bottom .center,
#meisi .meisi #bottom .bottom {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

#meisi .meisi #bottom .top img,
#meisi .meisi #bottom .center img,
#meisi .meisi #bottom .bottom img {
  display: block;
  width: 150px;
  height: 50px;
}

#meisi .meisi #bottom .top,
#meisi .meisi #bottom .center {
  margin-bottom: 30px;
}

#meisi .meisi #bottom .bottom {
  justify-content: space-evenly;
}

#wz {
  width: 100%;
  height: 300px;
  background: #333333;
}

#wz .wz {
  width: 1200px;
  height: 300px;
  margin: auto;
}

#wz .wz h1 {
  font-weight: 600;
  font-size: 22px;
  color: #909090;
  padding-top: 25px;
}

#wz .wz #content {
  width: 1200px;
}

#wz .wz #content h3 {
  height: 75px;
  line-height: 75px;
  color: #909090;
}

#wz .wz #content .link1,
#wz .wz #content .link2,
#wz .wz #content .link3,
#wz .wz #content .link4 {
  width: 300px;
  height: 185px;
  float: left;
}

#wz .wz #content .link1 ul li,
#wz .wz #content .link2 ul li,
#wz .wz #content .link3 ul li,
#wz .wz #content .link4 ul li {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}

#wz .wz #content .link1 ul li a,
#wz .wz #content .link2 ul li a,
#wz .wz #content .link3 ul li a,
#wz .wz #content .link4 ul li a {
  color: #ccc;
}

#wz .wz #content .link1 ul li a:hover,
#wz .wz #content .link2 ul li a:hover,
#wz .wz #content .link3 ul li a:hover,
#wz .wz #content .link4 ul li a:hover {
  color: black;
}

#copyright {
  width: 100%;
  height: 60px;
  background: #222222;
}

#copyright .copyright {
  width: 1200px;
  height: 60px;
  margin: auto;
}

#copyright .copyright p {
  height: 60px;
  line-height: 60px;
  color: #909090;
}

#copyright span {
  display: block;
  width: 123px;
  height: 41px;
  line-height: 41px;
  text-align: center;
  background: #3c90dc;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  float: right;
  position: fixed;
  right: 50px;
  bottom: 0px;
}
